<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="RestAssuredOne.RestAssuredOneJson"/>
      <class name="RestAssuredOne.RestAssuredThreeXML"/>
      <class name="RestAssuredOne.RestFourParsingJson"/>
      <class name="RestAssuredOne.RestTwoUdemyOne"/>
      
      <class name="RestAssuredTwitter.TwitterOne"/>
      
      <class name="RestAssuredTwo.RestFiveParamterization"/>
      
      <class name="RestAssuredFirstPack.RestAssuredBegins"/>
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
